/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  font-family: 'Dosis', sans-serif;
}


.btn , .btn-large{
  line-height: normal;
  height: 40px;
  width: 300px;
  font-size: 15px;
}

nav  .brand-logo {
  font-family: 'Montez', cursive;
}

.maps{
  color: #14d03c;
}

nav ul a,
nav .brand-logo {
  color: #59C3C3;
}

nav .nav-wrapper {
    padding: 0 30px;
}

p {
  line-height: 2rem;
}
      /* menu mobile*/
.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {

  min-height: 380px;
  line-height: 0;
  height: auto;
  color: #64ffda;/*rgba(255,255,255,.9)*/
}
  /*.parallax-container .section {
    width: 100%;
  }*/
.section-intro{
  height: 100%;
  width: 100%;
}

  .header{
    margin-top: 20%;
  }


  .header-subtitle{
    margin-top: 50%;
    font-size: 1.8em;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 30%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  nav .nav-wrapper {
    padding: 0 10px;
  }

}



.col-servizio{
  margin-top: 55px;
  margin-bottom: 100px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#servizio h5, p{
  font-size: 1.3em;
  line-height: 1.2em;
}

.section-registrazione{
  height: 100%;
  width: 100%;
}

footer.page-footer {
  margin: 0;
  background-color: #011627;
}

.social-icon{
  padding: 2rem;
  font-size: 1.8em;
  color: white;
}

.social-icon:hover {
  color: #ff6d00;
}


